.login{
    margin-top: 150px;
    //background-color: white;
    border-radius: 10%;
    height: 20%;
}
.main{
    //background-color:#ceefef;
    height: 80%;
}

.full-width {
    width: 90%;
    margin-left : 10px;
}

.title{
    margin-left: 2em;
}

.register{
    margin-top: 1.3em;
    margin-left: 1.2em;
    font-size: 16px;
}
.register1{
    color: blue;
    text-decoration: none;
}