<mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['']">
        <span class = "material-icons">home</span>
    </button>
  </mat-toolbar>


  <div class = "main" >
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="23%" *ngFor="let data of departments; let i = index">
          <mat-card class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title><a [routerLink]="['department',i+1]">{{data.name}} {{param}}</a></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../assets/images/mountains.jpg">
            <mat-card-content>
              <p>
                {{data.id}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>        
  </div>
