<mat-toolbar color="primary">
    <button mat-icon-button (click)="_toggleSidebar()">
        <span class = "material-icons">toc</span>
    </button>
    <button mat-button class = "right">
      Profile
    </button>
    <button mat-button class = "right">
      Log out
    </button>
  </mat-toolbar>
  <ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" class = "outer">
        <mat-action-list class = "list">
            <mat-list-item class = "border_bottom" [ngClass]="{'high' : choice===0}" (click) = "choose(0)">  Home  </mat-list-item>
            <mat-list-item class = "border_bottom" *ngFor = "let semester of semesters;let i = index" [ngClass]="{'high' : choice==i+1}" (click) = "choose(i+1)"> {{semester}}  </mat-list-item>

           </mat-action-list>
    </ng-sidebar>

    <!-- Page content -->
    <div class = "main" ng-sidebar-content (click)="_toggleSidebar_close()">
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="23%"  *ngFor = "let data of currentData">
              <mat-card class="mat-elevation-z4">
                <mat-card-header>
                  <mat-card-title><a [routerLink]="['course',data.id]">{{data.name}}</a></mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../assets/images/mountains.jpg">
                <mat-card-content>
                  <p>
                    {{data.semester}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          </div>
                
      </div>

  </ng-sidebar-container>