ng-sidebar-container{
    height:100vh;

}
.main{
    height: 100vh;
    width: 100vw;
    
}
.content {
    padding: 16px;
}

mat-card {
    height: 250px;
}
::ng-deep .ng-sidebar{
    background-color: white;
    width:300px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
}

.right{
    float: right;
    
}
.example-card{
    margin-top: 10px;
    box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
    height: 250px;
    width: 250px;
}

.high{
    background-color: grey;
}

.border_bottom{
    border-bottom: 1px solid;
}


.list{
    position: relative;
    width: 100%;
}